<!DOCTYPE html>
<html>
    <head>
        <title>Simple Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #map {
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA27Csv362mBdCLrbDy8_Y07hfDiG-KyF8&callback=initMap" async defer></script>
        <script type="text/javascript">

            var map;
            function initMap() {
                var center_pos = new google.maps.LatLng(36.456, 138.295);
                map = new google.maps.Map(document.getElementById('map'), {
                    center: center_pos,
                    zoom: 6,
                    // https://snazzymaps.com/
                    styles: [{"featureType":"landscape","stylers":[{"saturation":-7},{"gamma":1.02},{"hue":"#ffc300"},{"lightness":-10}]},{"featureType":"road.highway","stylers":[{"hue":"#ffaa00"},{"saturation":-45},{"gamma":1},{"lightness":-4}]},{"featureType":"road.arterial","stylers":[{"hue":"#ffaa00"},{"lightness":-10},{"saturation":64},{"gamma":0.9}]},{"featureType":"road.local","stylers":[{"lightness":-5},{"hue":"#00f6ff"},{"saturation":-40},{"gamma":0.75}]},{"featureType":"poi","stylers":[{"saturation":-30},{"lightness":11},{"gamma":0.5},{"hue":"#ff8000"}]},{"featureType":"water","stylers":[{"hue":"#0077ff"},{"gamma":1.25},{"saturation":-22},{"lightness":-31}]}],
                });
                setMarkers(map);
            }

            function setMarkers(map) {
                {% for zone in zones %}
                var icon = {
                    url: '/static/polls/image/background.png',
                    scaledSize: new google.maps.Size(30, 30),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(0, 30)
                };
                var pos = {
                    lat: {{ zone.position.latitude }},
                    lng: {{ zone.position.longitude }}
                };
                var marker = new google.maps.Marker({
                    map: map,
                    position: pos,
                    //icon: icon,
                });
                // if you don't do like below, infowindow will show only last info.
                marker['infowindow'] = new google.maps.InfoWindow({
                    content: '{{ forloop.counter }}<p><a href="{% url 'polls:zonedetail' zone.name %}"> {{ zone.name }}</a>',
                });
                marker.addListener('click', function() {
                    this.infowindow.open(map, this);
                });
                {% endfor %}
            }
        </script>
    </body>
</html>